.footer{
    .banner{
        background-image: url("/images/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .content{
            background: rgba(255, 255, 255, 0.6);
            a{
                text-decoration: none;
                color: black;
                font-weight: 500;
            }
            p{
                margin:0;
                color: black;
            }
            .trip-img{

                img{
                    width: 50px;
                    height: 50px;
                    margin: 3px;
                    border-radius: 4px
                }
            }
            // &:before{
            //     content:"";
            //     position: absolute;
            //     top: 0px;
            //     right: 0px;
            //     bottom: 0px;
            //     left: 0px;
            //     background-color: white;
            //     opacity: 70%;
            // }
        }
    }
    .copyright{
        justify-content: center;
        background-color: $blue-btn-left;
        color: white;
        p{
            margin: 0;
            padding: 10px;
            text-align: center;
            a{
                text-decoration: none;
                color: white;
                margin: 0;
            }
        }
    }
}

.footer-title{
    color: $blue-btn-left !important;
    font-weight: 600;
}